.chatContainer {
  padding: 20px;
  background-color: #e5ddd5;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Para rolagem se as mensagens excederem a altura */
  height: 80vh;
  max-width: 600px;
  min-width: 600px;
  background: url("/images/chat-whatsapp-bege.png") no-repeat top center fixed;
  background-size: inherit;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.sent {
  background-color: #ffffff;
}

.received {
  background-color: #daf8cb;
  margin-left: auto;
  text-align: right;
}


.mainLayout {
  display: flex;
  align-items: flex-start;
  height: auto;
}

.contactsList {
  width: 400px;
  height: 758px;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 10px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.contactItem {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.contactPhone {
  display: flex;
  align-items: center; /* Para centralizar verticalmente os itens */
  gap: 10px; /* Espaçamento entre o ícone e o número de telefone */
}

.lastMessage {
  color: #666;
}

.contactDate {
  color: #666;
  font-size: 12px;
}

.contactPicture {
  flex-shrink: 0; /* Evita que a imagem seja encolhida */
  border-radius: 50%; /* Opcional: para fazer a imagem redonda */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.contactInfo {
  display: flex;
  flex-direction: column; /* Organiza os elementos em uma coluna */
}

.contactName {
  font-weight: bold;
}

.lastMessage {
  color: #666;
}

.badgeWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.badge {
  background-color: #8b65c2;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  margin-left: auto;
  margin: 0px 2px;
}

.iconWhatsappContactPhoneWrapper {
  position: relative;
  top: -2px;
}

.phoneContactWrapper {
  position: relative;
  left: -4px;
}