@tailwind base;
@tailwind components;
@tailwind utilities;
body .bg {
  background-image: url("/images/bg-02/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .bg-glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
body .bg-glass-super {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .bg-dark-glass {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .bg-purple-1000 {
  background-color: #860391;
}
body .bg-purple-600 {
  background-color: rgb(147 51 234 / 0.1);
}
body input[type="text"],
body select.bg-gray-50  {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
body input[type="text"]:focus,
body select.bg-gray-50:focus {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
body .task {
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999999;
  background-color: #6b21a8;
}
body .task-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .kanban-column{
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 10px;
  width: 33%;
  min-width: 250px;
  margin: 10px;
  margin-top: 20px;
  z-index: 1;
}
body .text-ssm {
  font-size: 0.75rem;
  line-height: 1rem;
}
body .text-light-purple {
  color: #c364ec;
}
body .icon-blue {
  stroke: blue;
}
body .icon-purple {
  stroke: rgb(150, 19, 176);
}
body .tb-connections tr{
  cursor: pointer;
}
body .text-purple {
  color: #6b21a8;
}
body .text-blue {
  color: #1e40af;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease;
  overflow: hidden;
  width: 60px;
  padding: 18px;
  background-color: #6b21a8;
}

.menu.expanded {
  width: 256px;
}

.menu-text {
  display: none;
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: 2px;
  left: 10px;
}

.menu.expanded .menu-text {
  visibility: visible;
  display: inline-block; /* Mostra o texto quando a barra está expandida */
}

body .h-600px {
  height: 600px;
}
.slide-up {
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}


.menu-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0; /* Colapsa o texto quando o menu está fechado */
  transition: width 0.5s ease;
}

.menu.expanded .menu-text {
  width: auto; /* Expande o texto quando o menu está aberto */
}

