@tailwind base;
@tailwind components;
@tailwind utilities;
body .bg {
  background-image: url("/images/bg-02/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .bg-glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
body .bg-purple-1000 {
  background-color: #860391;
}
body .bg-purple-600 {
  background-color: rgb(147 51 234 / 0.1);
}
body input[type="text"] {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
body input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}