@tailwind base;
@tailwind components;
@tailwind utilities;
body .bg {
  background-image: url("/images/bg-02/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .bg-glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
}
body .bg-glass-super {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .bg-dark-glass {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .bg-purple-1000 {
  background-color: #860391;
}
body .bg-purple-600 {
  background-color: rgb(147 51 234 / 0.1);
}
body input[type="text"],
body select.bg-gray-50  {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
body input[type="text"]:focus,
body select.bg-gray-50:focus {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
body .task {
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999999;
}
body .taskContent {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .kanbanColumn{
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  margin: 10px;
  margin-top: 20px;
  z-index: 1;
}