.mainLayout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 700px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  /* padding-left: 100px; */
  margin: 0 auto;
}

.chatContainer {
  background-color: #e5ddd5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 688px;
  max-width: 600px;
  min-width: 600px;
  background: url("/images/chat-whatsapp-bege.png") no-repeat top center fixed;
  background-color: #000;
  background-size: inherit;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 70px;
  padding-right: 16px;
  /* height: 758px; */
}

.chatWrapper {
  width: 600px;
  height: auto;
}

.chatList {
  overflow: auto;
}

.chatInput {
  display: flex;
  align-items: center;
  width: 600px;
  background-color: #dfdfdf;
  height: 70px;
  padding: 0 10px;
  position: fixed;
  bottom: 150px;
  z-index: 9999999;

}

body .chatInput input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

body .chatInput input:focus {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.chatInput button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chatInput button:hover {
  background-color: #45a049;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.sent {
  background-color: #ffffff;
}

.received {
  background-color: #daf8cb;
  margin-left: auto;
  text-align: right;
}

.contactsList {
  width: 400px;
  height: 758px;
  background-color: #fff;
  overflow-y: auto;
  /* padding: 10px; */
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactInfo {
  flex-grow: 1;
  position: relative;
}

.contactDate {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 10px;
}


.contactPhone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lastMessage {
  color: #666;
}

.contactDate {
  color: #666;
  font-size: 12px;
}

.contactPicture {
  flex-shrink: 0; /* Evita que a imagem seja encolhida */
  border-radius: 50%; /* Opcional: para fazer a imagem redonda */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.contactInfo {
  display: flex;
  flex-direction: column; /* Organiza os elementos em uma coluna */
}

.contactName {
  font-weight: bold;
}

.lastMessage {
  color: #666;
}

.badgeWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.badge {
  background-color: #8b65c2;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  margin-left: auto;
  margin: 0px 2px;
  font-size: 10px;
  letter-spacing: 0.5px;
}

.iconWhatsappContactPhoneWrapper {
  position: relative;
  top: -2px;
}

.phoneContactWrapper {
  position: relative;
  left: -4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  font-size: 13px;
}

.topBarItem {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  width: 33.3%;
  padding: 10px 10px;
  text-transform: uppercase;

}

.topBarItem:hover {
  background-color: #fff; /* Muda a cor de fundo ao passar o mouse */
}

body .topBarIcon svg {
  margin: 0 auto;
}

.topBarText {
  padding-top: 10px;
}

.topBarButtonWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  /* padding: 10px; */
}

.topBarButtonItem {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  width: 33.3%;
  padding: 10px;
  text-transform: uppercase;
}


.topBarOptionWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

.topBarOptionText {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  width: 33.3%;
  padding: 15px 10px;
}

.badgeNotification {
  top: 6px;
  right: 36px;
}
